NOTIFICATION_DB_USER=admin
NOTIFICATION_DB_PASSWORD=notification_s3cret_2026
NOTIFICATION_DB_NAME=notification_db
PORT_NOTIFICATION_DB=5434

NOTIFICATION_REDIS_PASSWORD=notification_redis_s3cret_2026
PORT_NOTIFICATION_REDIS=6381

PORT_NOTIFICATION_KAFKA=9094

PORT_NOTIFICATION_OTEL_HTTP=4321
PORT_NOTIFICATION_OTEL_GRPC=4322

PORT_NOTIFICATION_SERVICE_REGISTRY=31428
