AUDIT_DB_USER=admin
AUDIT_DB_PASSWORD=audit_s3cret_2026
AUDIT_DB_NAME=audit_log_db
PORT_AUDIT_DB=5437

AUDIT_REDIS_PASSWORD=audit_redis_s3cret_2026
PORT_AUDIT_REDIS=6384

PORT_AUDIT_KAFKA=9097

PORT_AUDIT_OTEL_HTTP=4327
PORT_AUDIT_OTEL_GRPC=4328

PORT_AUDIT_SERVICE_REGISTRY=31431
