USER_DB_USER=admin
USER_DB_PASSWORD=user_s3cret_2026
USER_DB_NAME=user_profile_db
PORT_USER_DB=5435

USER_REDIS_PASSWORD=user_redis_s3cret_2026
PORT_USER_REDIS=6382

PORT_USER_KAFKA=9095

PORT_USER_OTEL_HTTP=4323
PORT_USER_OTEL_GRPC=4324

PORT_USER_SERVICE_REGISTRY=31429
