ALLOYDB_USER=admin
ALLOYDB_PASSWORD=llmobs_s3cret_2026
ALLOYDB_DB=llm_observability
PORT_ALLOYDB=5432

REDIS_PASSWORD=llmobs_redis_s3cret_2026
PORT_REDIS=6379

PORT_KAFKA=9092

PORT_OTEL_HTTP=4318
PORT_OTEL_GRPC=4317

PORT_SERVICE_REGISTRY=31426
