STORAGE_DB_USER=admin
STORAGE_DB_PASSWORD=storage_s3cret_2026
STORAGE_DB_NAME=storage_metadata_db
PORT_STORAGE_DB=5436

STORAGE_REDIS_PASSWORD=storage_redis_s3cret_2026
PORT_STORAGE_REDIS=6383

PORT_STORAGE_KAFKA=9096

PORT_STORAGE_OTEL_HTTP=4325
PORT_STORAGE_OTEL_GRPC=4326

PORT_STORAGE_SERVICE_REGISTRY=31430
