PAYMENT_DB_USER=admin
PAYMENT_DB_PASSWORD=payment_s3cret_2026
PAYMENT_DB_NAME=payment_ledger_db
PORT_PAYMENT_DB=5433

PAYMENT_REDIS_PASSWORD=payment_redis_s3cret_2026
PORT_PAYMENT_REDIS=6380

PORT_PAYMENT_KAFKA=9093

PORT_PAYMENT_OTEL_HTTP=4319
PORT_PAYMENT_OTEL_GRPC=4320

PORT_PAYMENT_SERVICE_REGISTRY=31427
